body {
    font-family: Arial;
    background: #5e8692;
    margin: 0;
}

header {
    background: #00ffdd;
    padding: 20px;
    text-align: center;
}

.contenedor {
    width: 60%;
    margin: 30px auto;
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
}

input, select {
    display: block;
    margin: 10px 0;
    padding: 8px;
    width: 100%;
}

button {
    padding: 10px;
    background: rgb(25, 87, 25);
    color: white;
    border: none;
}

.resultado {
    background: #39588d;
    padding: 10px;
    margin-bottom: 15px;
}