body {
    font-family: Arial, sans-serif;
    background-color: #008388;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffcc00;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

.contenedor {
    width: 60%;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(15, 24, 49, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

input, select {
    margin: 10px 0;
    padding: 8px;
    font-size: 16px;
}

button {
    background-color: #0f8029;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}

.resultado {
    background: #e9ffe9;
    padding: 15px;
    margin-top: 15px;
    border-left: 5px solid green;
}